.ui.top.fixed.menu {
  position: relative !important;
  z-index: 0 !important;
}
.ui.menu.fixed {
  position: relative !important;
  z-index: 0 !important;
}
.ui.button {
  background-color: #3d5afe;
  color: #ffff;
}
.ui.button:hover {
  background-color:blue;
  color: #ffff;
}
.ui.button:active {
  background-color:blue;
  color: #ffff;
}
.ui.button:focus {
  background-color:blue;
  color: #ffff;
}