html {
  padding: 0;
  margin: 0;
}
body {
  font-size: 16px;
}
.ui.menu.fixed {
  position: relative;
  z-index: 0;
}
.ui.button {
  background-color: #3d5afe;
  color: #ffff;
}
.ui.button:hover {
  background-color: #3d5afe;
  color: #ffff;
}
.ui.button:focus {
  background-color: #3d5afe;
  color: #ffff;
}
.ui.button:active {
  background-color: #3d5afe;
  color: #ffff;
}
